// BLOCK
.mfp-bg {
  background-color: hsla(0,0%,5%,.5);
}

.mfp-content {
  padding: 60px 0;
}

.popup {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  border-radius: $radius-md;
  box-shadow: $shadow-def;
  background: #fff;
  &-inner {
    position: relative;
    height: 100%;
  }
  &-size {
    &--auto {
      padding: 60px 40px;
    }
    &--full {
      max-width: 1000vw;
    }
    &--lg {
      max-width: 980px;
    }
    &--md {
      max-width: 600px;
      @include scale(padding, 70px 60px, 60px 40px, 60px 40px);
      @include md {
        max-width: 480px;
      }
      @include xs {
        padding: 60px 20px;
      }
    }
    &--sm {
      max-width: 480px;
    }
  }
  &-map {
    background-color: #fff;
    max-width: 980px;
    height: 620px;
    padding: 0;
    @include lg {
      max-width: 85%;
      margin: 0 auto;
      height: 540px;
    }
    @include sm {
      width: 100%;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

// MODIFIERS
.popup {
  &--noindent {
    padding: 0;
  }
}

// CLOSE
.mfp-close-btn-in {
  .mfp-close {
    @include inline-flex(center, center);
    @include size(30px);
    @include transition(opacity, color);
    top: 20px;
    right: 20px;
    color: $color-gray;
    @include xs {
      @include size(25px);
    }
    &:hover {
      color: $color-accent;
    }
    svg {
      @include size(30px);
      fill: currentColor;
      position: relative;
      pointer-events: none;
    }
  }
}

// CLOSE MEDIA
.mfp-view-media {
  .mfp-close {
    background: $color-black;
    border-radius: 50%;
    @include transition(opacity);
    color: $color-gray-dark;
    @include size(50px);
    opacity: 1;
    @include lg {
      background: transparent;
    }
    @include xs {
      right: 10px;
    }
    svg {
      @include size(20px);
      @include lg {
        @include size(30px);
      }
    }
    &:hover {
      opacity: 0.8;
      color: $color-white;
    }
  }
}

// INLINE
.mfp-view-inline {
  .mfp-content {
    vertical-align: middle;
  }
  .mfp-with-anim {
    opacity: 0;
    transition: opacity .35s ease .1s, transform .35s ease .1s;
    //transform: translateY(10%) scale(0.9)
    transform: translateY(10%);
  }
  &.mfp-bg {
    opacity: 0;
    transition: opacity .35s ease;
    mix-blend-mode: normal;
    backdrop-filter: blur(8px);
  }
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    &.mfp-bg {
      opacity: 0.98;
    }
  }
  &.mfp-removing {
    .mfp-with-anim {
      transition: opacity .35s ease 0s, transform .35s ease 0s;
      //transform: translateY(10%) scale(0.9)
      transform: translateY(-10%);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
      transition: opacity .35s ease .35s;
    }
  }
}

// MEDIA
.mfp-view-media {
  overflow: hidden !important;
  .mfp-content {
    vertical-align: top;
    padding: 0;
    height: 100vh;
  }
  .mfp-container {
    padding: 0;
  }
  .mfp-with-anim {
    opacity: 0;
    transition: opacity .5s ease, transform .5s ease;
    transform: translateY(50px);
  }
  &.mfp-bg {
    background: $color-dark;
    opacity: 0;
    transition: opacity .35s ease;
  }
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.mfp-removing {
    .mfp-with-anim {
      transition: opacity .5s ease, transform .5s ease;
      transform: translateY(50px);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
      transition: opacity .5s ease;
    }
  }
}

// POPUP
.popup-media {
  background: $color-dark;
  //box-shadow: var(--shadow-sm)
  @include size(100%);
  @include lg {
    background: $color-dark;
  }
  .popup-inner {
    width: 100%;
    height: 100vh;
    @include flex(center, center);
    .plyr {
      height: 100%;
    }
    &.is-loading {
      &::after {
        @include preloader(#fff);
      }
      &:before {
        background: $color-dark;
      }
    }
  }
}

// SIDE
.mfp-view-side {
  overflow: hidden !important;
  .mfp-container {
    padding: 0;
  }
  .mfp-content {
    height: 100%;
    padding: 0;
  }
  .mfp-close {
    background: rgba(0,0,0,.3);
    padding: 10px;
    border-radius: 50%;
    @include transition(background, color);
    color: $color-white;
    @include size(50px);
    opacity: 1;
    right: auto;
    @include sm {
      @include size(40px);
    }
    svg {
      @include size(20px);
    }

    &:hover {
      background: $color-dark;
      color: $color-white;
    }
  }
  .mfp-with-anim {
    opacity: 0;
    transition: opacity .5s ease .1s, transform .5s ease .1s;
    transform: translateX(100%);
  }
  &.mfp-bg {
    opacity: 0;
    transition: opacity .5s ease;
  }
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateX(0);
    }
    &.mfp-bg {
      mix-blend-mode: normal;
      backdrop-filter: blur(8px);
      opacity: 1;
    }
  }
  &.mfp-removing {
    .mfp-with-anim {
      transition: opacity .3s ease 0.1s, transform .3s ease 0s;
      transform: translateX(100%);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
      transition: opacity .3s ease .3s;
    }
  }
}

// HEAD
.popup {
  &-head {
    @include scale(margin-bottom, 40px, 35px, 30px);
    &__title {
      color: $color-dark;
      margin-bottom: 7px;
    }
    &__subtitle {
      color: $color-gray;
      @include font-size(h6);
    }
  }
  &-bottom {
    @include scale(margin-top, 40px, 35px, 30px);
    button {
      @include not-last() {
        margin-right: 10px;
      }
    }
  }
  &-map {
    height: 480px;
    border-radius: $radius-md;
    overflow: hidden;
  }
}

// POPUP SIDE
.popup-side {
  background: #fff;
  margin: 0 0 0 auto;
  height: 100%;
  @include sm {
    width: 100% !important;
  }
  .popup-inner {
    overflow-y: auto;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
    @include flex(false, flex-start, column);
    @include sm {
      justify-content: flex-start;
      padding: 60px 20px 60px !important;
    }
  }
  .mfp-close {
    top: 30px;
    right: 50px;
    @include lg {
      right: 20px;
    }
    @include sm {
      top: 15px;
      right: 15px;
    }
  }
}

// SIZE
.popup-side-size {
  &--sm {
    max-width: 540px;
    .popup-inner {
      padding: 50px;
    }
  }
  &--md {
    max-width: 980px;
    .popup-inner {
      padding: 70px 80px 70px 70px;
    }
  }
}

// MODIFIERS
.popup-side-pos {
  &--start {
    // height: auto
    @include before() {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 131px;
      background-image: linear-gradient(180deg,#fff,hsla(0,0%,100%,0) 86.64%);
      z-index: 1;
      pointer-events: none;
      @include sm {
        height: 60px;
      }
    }
    .popup-inner {
      padding-top: 100px;
      justify-content: flex-start;
    }
  }
}

// MESSAGE
.popup-message {
  .mfp-close {
    display: none;
  }
  &__inner {
    text-align: center;
    padding: 30px;
  }
  &__icon {
    position: absolute;
    @include size(100px);
    @include flex(center, center);
    border-radius: 50%;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    svg {
      @include size(50%);
    }
  }
  &__title {
    font-size: 28px;
    line-height: 1.1;
    font-weight: bold;
    margin: 40px 0 10px;
  }
  &__text {
    opacity: 0.8;
    font-size: 16px;
  }
  &__close {
    margin-top: 40px;
    .btn {
      width: 100%;
    }
  }
  &--succes {
    .popup-message__icon {
      background: #000;
    }
  }
}