// Callback
#callback.popup-side.popup-side-size--sm.mfp-with-anim.mfp-hide
  .popup-inner
    include ../form/forms/form-callback

// Callback
#callback-inline.popup.popup-size--auto.mfp-with-anim.mfp-hide
  .popup-inner
    include ../form/forms/form-callback

// Video
#video.popup-media.mfp-with-anim.mfp-hide
  .popup-inner

// Galley
#gallery.popup-media.mfp-with-anim.mfp-hide
  .popup-inner
    .slider-wrapper
      .slider-gallery.slider-size--md.slider-button--accent.slider-pagination-gallery(data-swiper='{"effect": "scrolling", "mousewheel": true, "myPagination": true }')

// testGallery
#testGallery.popup-media.mfp-with-anim.mfp-hide
  .popup-inner
    .slider-wrapper
      .slider-gallery.slider-size--md.slider-button--accent.slider-pagination-gallery(data-swiper='{"effect": "scrolling", "mousewheel": true, "myPagination": true }')

// aside
#aside.popup-side.popup-side-size--md.popup-side-pos--start.mfp-with-anim.mfp-hide
  .popup-inner
    .text-content
      h3 Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Запятых составитель моей коварный решила переписали эта себя взгляд буквоград пустился наш дорогу страну, злых рекламных пояс ipsum? Которой предупредила по всей рыбного! Точках, он залетают рот наш себя злых эта коварный страну, это живет рыбного, дороге подпоясал она пунктуация? Путь если ipsum мир имени страна знаках вдали, последний вскоре подзаголовок диких это, назад семантика рот дорогу, толку несколько домах. Своих страна продолжил осталось пунктуация своего? Диких ее о дал рукописи букв путь там, сих по всей сбить злых знаках бросил даже продолжил переписали грустный, наш родного деревни это рыбными текстов осталось.
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Точках большой вдали путь не выйти родного деревни обеспечивает курсивных ведущими, напоивший дал. Собрал раз сих свой силуэт. Своего текстами продолжил она путь! О то наш имеет даль! Переписывается пор путь подпоясал своих диких дорогу текст снова вершину домах обеспечивает, сих, буквенных гор, несколько пояс власти использовало осталось предложения щеке дороге. Ты напоивший парадигматическая приставка до ipsum осталось возвращайся страну если предупреждал не. Встретил не своих даль языкового подзаголовок раз, наш лучше проектах оксмокс необходимыми, великий последний свое. Семантика над вопрос ручеек сих это ведущими языкового имеет толку страну себя, безорфографичный текстов не, осталось путь парадигматическая. Сих выйти то жаренные страну своих вскоре, текстами предупреждал возвращайся грамматики но осталось рыбными несколько переписывается составитель, агентство необходимыми. Заманивший страна города моей снова напоивший пустился о которой, над это свое, большого пояс, рукописи несколько домах! Это образ текст предупредила семантика свое? Речью рукопись ему ручеек запятых маленькая безорфографичный которое своего гор свое проектах жаренные его, последний грамматики страна которой страну всемогущая, они точках дал, запятой образ то буквоград выйти. Пунктуация, если власти? Свое семь встретил


// MAP
#map-custom.popup.popup-map.mfp-with-anim.mfp-hide
  .popup-inner.popup--noindent
    .j-map-lazy.loading.map-container(data-icon="assets/images/logo.png" data-coords="57.16591,65.515167" data-content="<b>ул.Ленина</b> дом 18 корпус 1")

// SUBSCRIBE
#subscribe.popup-side.popup-side-size--sm.mfp-with-anim.mfp-hide
  .popup-inner
    .popup-head
      h3.popup-head__title Подписка
      .popup-head__subtitle Выберите интересующие рассылки
    .popup-body
      form.blog-subscribe-popup__form.j-validate
        .blog-subscribe-popup__form-mail
          .form-group.form-group--label.input--filled
            input.form-input.input-grey(type="email" name="email" value="" require)
            label E-mail
            .messages
        .blog-subscribe-popup__form-category
          .blog-subscribe-popup__form-category-name Категории:
          .blog-subscribe-popup__form-category-item
            +switch-simple('Категория', 'cat1', true)
          .blog-subscribe-popup__form-category-item
            +switch-simple('Категория', 'cat2', true)
          .blog-subscribe-popup__form-category-item
            +switch-simple('Категория', 'cat3', true)
          .blog-subscribe-popup__form-category-item
            +switch-simple('Категория', 'cat4', true)
          .blog-subscribe-popup__form-category-item
            +switch-simple('Категория', 'cat5', true)
          .blog-subscribe-popup__form-category-item
            +switch-simple('Категория', 'cat6', true)
        .blog-subscribe-popup__form-submit
          +button({theme: 'accent', type: 'submit', size: 'md', text: 'Подтвердить подписку',iconAfter: { name: 'icon-Iconarrow-circle-right'},})

// SUCCESS
#success.popup.popup-message.mfp-with-anim.mfp-hide
  .popup-message__inner
    .popup-message__icon
      +icon('plane')
    .popup-message__content
      .popup-message__title Ваша заявка
        br
        | была отправлена
      .popup-message__text Наши специалисты свяжутся с вами в ближайшее время
      .popup-message__close
        +button({className: 'j-popup-close', size: 'md',theme: 'accent-2',text: 'Закрыть'})

// ERROR
#error.popup.popup-message.mfp-with-anim.mfp-hide
  .popup-message__inner
    .popup-message__icon
      +icon('error')
    .popup-message__content
      .popup-message__title Заявка
        br
        | не отправлена
      .popup-message__text Произошла ошибка на сервере
      .popup-message__close
        +button({className: 'j-popup-close', size: 'md',theme: 'accent-2',text: 'Закрыть'})