.yandex-map__zoom {
  &-button {
    background-color: $color-white;
    border: 1px solid rgba(0,0,0, .1);
    position: relative;
    border-radius: 50%;
    &--zoom-in,
    &--zoom-out {
      cursor: pointer;
      @include size(40px);
      @include flex(center, center);
      @include sm {
        @include size(30px);
      }
      svg {
        @include transition(opacity);
        @include sm {
          @include size(10px);
        }
      }
      &:hover {
        svg {
          opacity: 0.5;
        }
      }
    }
    &--zoom-in {
      border-radius: $radius $radius 0 0;
    }
    &--zoom-out {
      border-radius: 0 0 $radius $radius;
    }
  }
  &-wrapper {
    margin-right: 20px;
    transform: translateY(-50%);
    border-radius: $radius;
    box-shadow: $shadow-def;
    @include sm {
      margin-right: 10px;
    }
  }
}