.sandwich {
  @include reset-button();
  @include flex(space-between, false, column);
  @include size(25px,21px);
  cursor: pointer;
  &__line {
    @include size(100%, 2px);
    @include transition(transform, opacity, left);
    position: relative;
    pointer-events: none;
    background: $color-gray-light;
    &--top {
      left: 0;
      transform-origin: left;
    }
    &--middle {
      position: relative;
      right: -5px;
    }
    &--bottom {
      left: 0;
      transform-origin: left;
    }
// ACTIVE
  }
}
.sandwich {
  &.is {
    &-open {
      .sandwich__line {
        &--top {
          left: 3px;
          width: 108%;
          transform: rotate(45deg);
        }
        &--middle {
          transform: translateX(-30%);
          opacity: 0;
        }
        &--bottom {
          left: 3px;
          width: 108%;
          transform: rotate(-45deg);
        }
      }
    }
  }
}