$color-pag-item: $color-accent;
$color-pag-item-active: $color-accent;
$color-pag-active: $color-accent;
$color-pag-background-item: transparent;
.pag {
  margin: 45px 0;
  &-wrap {
    display: flex;
  }
  &--center {
    justify-content: center;
  }
  &__item {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 2px;
    color: $color-pag-item;
    // background: $color-pag-background-item
    position: relative;
    @include md {
      font-size: 14px;
    }
    &.is-active {
      color: $color-pag-active;
      background: $color-pag-background-item;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: $color-pag-active;
      }
    }
    &:hover,
    &:focus,
    &:active {
      background: $color-pag-background-item;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: $color-pag-active;
      }
    }
  }
  &__number {
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    color: inherit;
  }
  &__list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    font-size: 0;
    margin-right: 2px;
  }
  &__prev,
  &__next {
    display: inline-block;
    font-size: 1.4em;
    line-height: 28px;
    font-weight: bold;
    text-decoration: none;
    color: $color-pag-active;
    padding: 0 10px 5px;
    &:hover,
    &:focus,
    &:active {
      color: $color-pag-active;
      background: $color-pag-background-item;
    }
  }
}
.pagination {
  margin: 45px 0 !important;
  display: flex;
  justify-content: center;
  @include xs {
    margin-bottom: 75px;
  }
  li {
    display: inline-block;
    margin-right: 10px;
    @include md {
      margin-right: 8px;
    }
    &.active span {
      background: $color-pag-background-item;
      border-color: $color-pag-item-active;
    }
    &:last-child a,
    &:last-child span,
    &:first-child a,
    &:first-child span {
      display: inline-block;
      font-size: 1.6em;
      line-height: 32px;
      text-decoration: none;
      text-align: center;
      color: $color-pag-active;
      border: 2px solid;
      border-color: transparent;
      border-radius: 50%;
      @include transition(background, border-color);
      @include md {
        line-height: 25px;
      }
      &:hover,
      &:focus,
      &:active {
        color: $color-pag-active;
        background: $color-pag-background-item;
        border-color: $color-pag-item-active;
      }
    }
    a,
    span {
      display: inline-block;
      font-size: 18px;
      width: 40px;
      height: 40px;
      line-height: 37px;
      text-decoration: none;
      color: inherit;
      text-align: center;
      position: relative;
      border-radius: 50%;
      border: 2px solid;
      border-color: transparent;
      @include transition(background, border-color);
      @include md {
        width: 35px;
        height: 35px;
        line-height: 31px;
        font-size: 14px;
      }
      &:hover,
      &:focus,
      &:active {
        color: $color-pag-active;
        background: $color-pag-background-item;
        border-color: $color-pag-item-active;
      }
    }
  }
}