.preloader
  .preloader__background
  .preloader__background
  .preloader__line-wrapper
    .preloader__line
script.
  setTimeout(function () {
    document.documentElement.className += ' _loading'
  }, 150)
