header.header
  .header__base
    .header__inner
      .header__container
        .container
          .header__row
            .header__row-left
              .header__title ПОРТФОЛИО ВЕБ-РАЗРАБОТЧИКА
            .header__row-right
              nav.nav.nav-main
                ul.nav__list
                  include ../nav/nav
              .header__sandwich
                include ../sandwich/sandwich
