// COMMON
.nav {
  .nav {
    &__list {
      @include reset-list();
      display: flex;
    }
    &__item {
      position: relative;
      &.active,
      &:hover {
        .i-dropdown::after {
          transform: rotate(-135deg);
        }
      }
    }
    &__link,
    > span {
      cursor: pointer;
      position: relative;
      @include transition(color);
    }
  }
}

// MAIN
.nav-main {
  @include md {
    display: none;
  }
  .nav {
    &__list {
      @include flex(false, center);
      > .nav__item {
        position: relative;
        &:hover {
          .nav__link {
            color: $color-blue;
          }

          .nav__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 0) scale(1, 1);
          }
        }
        @include not-last() {
          margin-right: 15px;
        }
      }
    }
    &__link,
    > span {
      display: inline-flex;
      font-weight: bold;
      font-family: $font-title;
      font-size: 16px;
      white-space: nowrap;
      color: $color-gray-light
    }

  }
}

// MENU
.nav-menu {
  width: 100%;
  .nav {
    &__list {
      @include flex(false,false,column);
    }
    &__item {
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 15px;
    }
    &__link {
      display: inline-block;
      position: relative;
      color: $color-gray-light;
      font-weight: bold;
      width: auto !important;
    }
  }
}



