// Cookie
.cookie.j-cookie(data-cookie-time="30")
  .cookie__text Мы&nbsp;используем cookie-файлы и другие аналогичные технологии. Пользуясь данным сайтом, Вы&nbsp;не&nbsp;возражаете против использования этих технологий.
  .cookie__close Ok

