.inner-button {
  width: auto;
  position: relative;
  @include inline-flex(center, center);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .03em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  background: 0 0;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  user-select: none;
  &__cross-svg-wrap {
    display: none;
    margin-left: 24px;
    width: 16px;
    height: 16px;
  }
// ACTIONS
}
.inner-button {
  &._cross {
    border-color: #8b94a0;
    color: #363940;
    justify-content: space-between;
    .inner-button__cross-svg-wrap {
      color: #8b94a0;
      display: block;
    }
  }
  &._invalid {
    border-color: $form-error;
    color: $form-error;
  }
}