style.
  :root {
    --color-black: #333333;
    --color-primary: #235ad1;
    --color-dark: #343A48;

    --color-dark-light: #6F6F83;
    --color-white: #ffffff;
    --color-light: #F6F6F9;
    --color-firm-1: #EA273F;
    --color-grey: #C3C3CE;
    --color-grey-light: #E0E0E7;
    --button-radius: 37px;
    --button-circle-radius: 50%;
    --button-slider-radius: 50%;
    --card-icon-radius: 50%;
    --input-radius: 20px;
    --radius-lg: 30px;
    --radius-md: 20px;
    --radius-sm: 10px;
    --radius-xs: 5px;
    --shadow-sm: 0px 6px 6px -6px rgba(0, 0, 0, 0.16)
  }
  @font-face {
    font-display: swap;
    font-family: Verdana;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/Geometria.woff2) format("woff2")
  }
  @font-face {
    font-display: swap;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/OpenSans.woff2) format("woff2")
  }
  @font-face {
    font-display: swap;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/OpenSans-Bold.woff2) format("woff2")
  }

  @font-face {
    font-display: swap;
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/icomoon.woff) format("woff")
  }

  body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: OpenSans, sans-serif;
    line-height: 1.5;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: Geometria,sans-serif
    letter-spacing: 0.03em
  }

  /* APP Visual */
  .visual {
    background: var(--color-white);
    color: var(--color-black);
    font-family: OpenSans, sans-serif;
    line-height: 1.5;
  }