// НАСТРОЙКИ
$font-sizes: (
  //  only  1440  1199  768             600   lh
  h1: (36px, 34px, 28px, scale-size(22), 22px, 1.22),
  h2: (36px, 34px, 28px, scale-size(24), 22px, 1.22),
  h3: (24px, 22px, 22px, scale-size(20), 20px, 1.22),
  h4: (22px, 22px, 22px, scale-size(20), 20px, 1.22),
  h5: (20px, 20px, 18px, scale-size(14), 14px, 1.22),
  h6: (18px, 18px, 16px, scale-size(14), 14px, 1.22),
  p1: (24px, 23px, 18px, scale-size(18), 18px, 1.3),
  p2: (22px, 22px, 15px, scale-size(15), 15px, 1.35),
  p3: (20px, 19px, 18px, scale-size(17), 17px, 1.44),
  text: (16px, 16px, 15px, 14px, 14px, 1.44)
  );

$breakpoints: 'only screen', $breakpoints-desc, $breakpoints-lg, $breakpoints-md, $breakpoints-xs;

$line-heights-amount: length(map-get($font-sizes, h1));

// МИКСИНЫ
// Генерирует font-size и line-height для брекпоинта
@mixin generateFontSize($font-size, $i) {
  font-size: #{nth(nth(map-get($font-sizes, $font-size), $i), 1)};

  @if length(nth(map-get($font-sizes, $font-size), $line-heights-amount)) > 1 {
    line-height: #{nth(nth(map-get($font-sizes, $font-size), $line-heights-amount), $i)};
  }@else {
    line-height: #{nth(nth(map-get($font-sizes, $font-size), $line-heights-amount), 1)};
  }
}// Создает всю струтктуру размеров шрифта со всеми брейкпоинтами
@mixin font-size($font-size) {
  @for $i from 1 through length($breakpoints) {
    @if nth($breakpoints, $i) == "only screen" {
      @include generateFontSize($font-size, $i);
    }@else {
      @include r(#{nth($breakpoints, $i)}) {
        @include generateFontSize($font-size, $i);
      }
    }
  }
}