// С box-sizing: border-box; гораздо удобнее работать при подсчёте размеров блока
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  height: 100%;
  min-height: 100vh;
}

// margin - В любом нашем проекте не требуется какое-либо другое значение кроме 0
// font-smoothing сглаживает шрифты
body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  line-height: $line-height;
  color: $color-gray-light;
  background: $color-accent-3;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-anchor: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
}

// отключаем на мобильных непритяную подсветку у ссылок при тапе.
// Непритяна она тем, что иконки тоже обрамляются подствекой и становится не красиво
a,
button,
label {
  -webkit-tap-highlight-color: transparent;
}

// картинки не должны выходить из родительского блока если они превосходят его по размерам
img {
  max-width: 100%;
}

p {
  margin: 0;
}

// Headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  position: relative;
  margin: 0;
}

a {
  @include transition(color);
  text-decoration: none;
  outline: none;
  color: inherit;

  &[href^='tel:'] {
    white-space: nowrap;
    // TODO: change scss mixin
    // @media #{$laptop} {
    //   cursor: default;
    //   pointer-events: none;
    // }
  }
}

button,
input {
  line-height: normal;
}

input,
textarea {
  font-family: inherit;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }

  &:invalid {
    box-shadow: none;
  }

  &::-ms-clear {
    display: none;
  }

  &:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }

}

sup {
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}
