.sells-copyright-block.sells-copyright-right(style='display: none')
  .sells-copyright-block__pop-up
    h3.sells-pop-up__title Sells
    p.sells-pop-up__subtitle
      a(href='https://sells.company/?utm_source=copyright&utm_content=popup', target='_blank', title='Маркетинговая компания Sells') sells.company
    p.sells-pop-up__text Комплексные маркетинговые решения для достижения целей вашего бизнеса
  a.sells-copyright-block__information.sells-copyright-light(href='https://sells.company/?utm_source=copyright&utm_content=logo', target='_blank', title='Маркетинговая компания Sells')
    .sells-copyright-block__text Разработка и продвижение
      br
      | Маркетинговая компания Sells
    .sells-copyright-block__picture
      img(src=require("@image/copyright_red.png"), alt="Маркетинговая компания Sells")
