@import 'custom-select/build/custom-select';

.custom-select-opener {
  background: $color-white;
  @include before() {
    position: absolute;
    right: 15px;
    top: 50%;
    @include size(9px);
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    margin-top: -4px;
    pointer-events: none;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
  }
  &[aria-expanded="true"] {
    &::before {
      transform: rotate(-135deg);
    }
  }
}
.custom-select-panel {
  margin-top: 4px;
  background-color: #fff;
  border-radius: 7px 0 0 7px;
  z-index: 9;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  max-height: 210px;
  transform: translateY(-19px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
}
.custom-select-option {
  @include scale(padding, 12px 20px, 12px 15px, 12px 15px);
  position: relative;
  font-size: 1rem;
  color: #445870;
  cursor: pointer;
  &.has-focus {
    background: #f6f6f6;
  }
  &.is-selected {
    font-weight: bold;
  }
}
.custom-select-container.is-open {
  .custom-select-panel {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    @include custom-scrollbar(4px,#868996);
  }
}