extends /views/layout/default

block variables
  - const title = 'Портфолио Веб-разработчика Владислава Филинского';

block content
  include /components/blocks/hero/hero
  include /components/blocks/about/about
  include /components/blocks/skill/skill
  include /components/blocks/portfolio/portfolio


block script
