.b-subscribe
  .b-subscribe__label
    h4.b-subscribe__title Оставайтесь в курсе наших новостей
    .b-subscribe__subtitle
      p Получайте новости о скидах и акциях по электронной почте
  .b-subscribe__form
    form(name="subscribe")
      .b-subscribe__group
        input(type="email" class="b-subscribe__input" placeholder="Ваш email" name="email")
        button(type="submit" class="b-subscribe__btn")
          +icon('arrow-l')