.form.form--popup
  .form__label
    .form__label-title Оставьте заявку
    .form__label-subtitle Узнайте, точную стоимость вашего проекта от нашего специалиста.
  form.form__form(action="/" data-validate)
    .form__groups
      +inputName({theme: "white"})
      +inputPhone({theme: "white"})
      +inputEmail({theme: "white"})
      //- +inputFile({theme: "white"})
      //- +inputTextarea({theme: "white"})
    .form__bottom
      +formSubmit()
      +formConsent()