.menu.j-menu.hide
  .menu__wrapper
    .menu__inner.container.j-menu__content
      .menu__item
        .menu__item-title Меню
        nav.nav.nav-menu
          ul.nav__list
            include ../nav/nav
      .menu__item
        .menu__item-title Контакты
        .social-simple
          include ../social/social






