// BLOCK
.headline {
  &__title {
    // font-weight: 600;
    color: $color-gray-light;
  }
  &__subtitle {
    line-height: 1.55;
    @include scale(font-size, 20px, 18px, 16px);
    color: $color-gray;
    margin-top: 15px;
  }
  &__right {
    @include scale(font-size, 20px, 18px, 16px);
    font-weight: 500;
  }
}

// MODIFIERS
.headline {
  &--section {
    @include flex(space-between, center);
    .headline {
      &__inner {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
  &--block {
    @include flex(space-between, center);
    .headline {
      &__inner {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

// SIZE
.headline-size {
  &--lg {
    @include scale(margin-bottom, 65px, 45px, 45px);
  }
  &--md {
    @include scale(margin-bottom, 45px, 40px, 35px);
  }
}