// SETTINGS
$tabs-anim-speed: .3s;
.tab {
  &__buttons {
    @include flex();
    @include scale(margin-bottom, 75, 50, 30);
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      height: 0;
    }
    @include sm {
      padding-bottom: 10px;
    }
  }
  &__btn {
    .tab__btn-btn {
      @include inline-flex(center, center);
      cursor: pointer;
      color: inherit;
      @include transition(color, border-color);
      white-space: nowrap;
    }
    @include is-first() {
      @include sm {
        margin-left: 20px;
      }
    }
    &.is-active .tab__btn-btn {
      cursor: default;
    }
    &-text {
      display: inline-block;
      pointer-events: none;
      color: inherit;
    }
  }
  &__content {
    position: relative;
    z-index: z(default);
    &-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      z-index: +z(hide);
      pointer-events: none;
      visibility: hidden;
      transition: opacity .1s, visibility 0s .1s;
      &.is-active {
        z-index: +z(default);
        opacity: 1;
        position: relative;
        pointer-events: auto;
        visibility: visible;
        transition: opacity $tabs-anim-speed, visibility 0s 0s;
      }
// ANIMATION
    }
  }
}
.tab-anim {
  &--fade {
    > .tab__content > .tab__content-item {
      &.is-active {
        animation: fadeIn $tabs-anim-speed ease-out $tabs-anim-speed both;
      }
    }
  }
  &--leaf {
    > .tab__content > .j-tab-content {
      transition: visibility 0s $tabs-anim-speed;
      animation: tabsDisappear $tabs-anim-speed ease-in both;
      &.is-active {
        animation: tabsAppear $tabs-anim-speed ease-out $tabs-anim-speed both;
      }
    }
  }
  &--leafL {
    > .tab__content > .j-tab-content {
      transition: visibility 0s $tabs-anim-speed;
      animation: tabsDisappearL $tabs-anim-speed ease-in both;
      &.is-active {
        animation: tabsAppearL $tabs-anim-speed ease-out $tabs-anim-speed both;
      }
    }
  }
  &--top {
    > .tab__content > .tab__content-item {
      &.is-active {
        animation: fadeTop $tabs-anim-speed ease-out .1s both;
      }// ANIMATION KEYFRAMES
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translate3d(0,15px,0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
};

// CUSTOM TABS
.tab {
  &--simple {
    .tab {
      &__buttons {
        display: flex;
        margin-bottom: 30px;
        @include md {
          overflow-x: auto;
          padding-bottom: 10px;
          margin-left: -5%;
          width: 110%;
        }
      }
      &__btn {
        @include not-last() {
          margin-right: 15px
        }
        @include is-first() {
          @include md {
            margin-left: 5%;
          }
        }
        @include is-last() {
          @include md {
            margin-right: 5%;
          }
        }
        &.is-active .tab__btn-btn {
          color: $color-blue;
          border-color: $color-blue;
        }
        .tab__btn-btn {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          color: $color-gray-light;
          border: none;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          background: none;
          padding: 0;
          white-space: nowrap;
          @include transition(color, border-color);
          &:hover {
            color: $color-blue;
            border-color: $color-blue;
          }
        }
      }
    }
  }
}