$transition-open: 0.6s;
.acc {
  &__head {
    @include flex(space-between, center);
    width: 100%;
    position: relative;
    cursor: pointer;
    @include transition(border-color);
    @include after() {
      @include transition(transform, border-color);
      @include size(10px);
      position: absolute;
      top: 45%;
      transform-origin: 50% 50%;
      transform: translateY(-50%) rotate(-45deg);
      border-left: 2px solid;
      border-bottom: 2px solid;
      @include sm {
        @include size(8px);
      }
    }
  }
  &.is-open {
    .acc {
      &__head {
        &::after {
          transform: rotate(-225deg);
        }
// MODIFIERS
      }
    }
  }
}
.acc {
  &--center {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
  }
}
.acc {
  &-desktop {
    .acc {
      &__title {
        @include transition(color);
        line-height: 1.4;
        margin-bottom: 0;
        max-width: 900px;
      }
      &__head {
        border-radius: $radius;
      }
      &__content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        padding-top: 20px;
        border: 1px solid rgba($color-gray-light,.3%);
        border-radius: $radius;
        @include xs {
          padding-left: 10px;
        }
        &-wrap {
          transition: height $transition-open;
          overflow: hidden;
          position: relative;
          z-index: +z(default);
          height: 0;
          margin-top: 10px;
        }
      }
    }
  }
  &-mobile {
    .acc {
      &__head {
        @include lg {
          padding-right: 20px;
        }
        &::after {
          right: 0;
          border-color: $color-white;
          display: none;
          margin-top: -2px;
          @include md {
            display: block;
          }
        }
      }
      &__content {
        @include lg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: auto;
          padding-left: 20px;
        }
        &-wrap {
          @include lg {
            transition: height $transition-open;
            overflow: hidden;
            position: relative;
            z-index: 2;
            height: 0;
          }
        }
      }
    }
  }
}
@keyframes dropdawnOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};

// Если есть вложенные аккордионы
._is-sub-accordion > .acc__content-wrap {
  height: auto;
  .acc__content {
    position: relative;
  }// Wrap
}
.acc {
  &-wrap-column {
    .acc {
      @include is-last() {
        border-bottom: 1px solid $color-gray-light;
      }// Theme
    }
  }
}
.acc-theme {
  &-simple {
    .acc {
      &__title {
        @include font-size(h5);
      }
      &__head {
        color: $color-gray-light;
        @include scale(padding, 25px 30px, 20px 25px, 15px 10px);
        background: rgba(233, 236, 252, 0.5);
        &::after {
          @include scale(right, 30px, 20px, 10px);
          border-color: $color-gray-light;
        }
        @include hover {
          &::after {
            border-color: lighten($color-accent, 10%);
          }
          .acc {
            &__title {
              color: lighten($color-accent, 10%);
            }
          }
        }
      }
      &__content {
        @include scale(padding, 30px, 25px, 20px);
      }
    }
  }
  &-text {
    .acc {
      &__head {
        width: auto;
        display: inline-block;
        padding-right: 1em;
        color: $color-accent;
        @include transition(opacity);
        &:hover {
          opacity: 0.7;
        }
        &::after {
          right: 0;
          margin-top: -1px;
          @include size(0.5em);
          border-left: 1px solid;
          border-bottom: 1px solid;
        }
      }
      &__content {
        border: none;
        padding-top: 0;
      }
    }
  }
}