.portfolio {
  .col {
    transition: opacity .2s ease;
    &.is-active {
      display: block !important;
      opacity: 1 !important;
    }
  }
  .tab__buttons {
    justify-content: center;
    @include md {
      justify-content: flex-start;
    }
  }
}
.card-portfolio {
  display: block;
  &:hover {
    .card__title {
      color: $color-blue
    }
    .card__subtitle {
      color: $color-blue
    }
  }
  .card {
    &__image {
      display: block;
      position: relative;
      width: 100%;
      padding-top: 73.25%;
      margin-bottom: 20px;
      overflow: hidden;
      z-index: 1;
      border-radius: 6px;
      img {
        @include coverdiv()
      }
    }
    &__content {
      color: $color-gray-light
    }
    &__date {
      display: block;
      font-size: 12px;
      opacity: .5;
      margin-bottom: 10px;
    }
    &__title {
      @include transition(color);
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 20px;
    }
    &__subtitle {
      @include transition(color)
    }
  }
}

// POPUP
.portfolio-popup {
  width: 100%;
  color: $color-dark;
  &__title {
    @include font-size(h3);
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__subtitle {

    margin-bottom: 20px;
  }
  &__date {
    color: $color-gray;
    margin-bottom: 15px;
    font-size: 14px;
  }
  &__stack {
    color: $color-black;
    margin-top: 20px;
    font-size: 16px;
  }
  .browser {
    margin-top: 30px;
  }
}

// BRAWSER
.browser {
  position: relative;
  &__header {
    position: relative;
    padding: 10px ;
    border-radius: 6px 6px 0 0;
    background: #e8edf1;
    font-size: 0;
    span {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      margin-right: 5px;
      @include is-child(1) {
        background: #f58581;
      }
      @include is-child(2) {
        background: #f9d176;
      }
      @include is-child(3) {
        background: #8bcd87
      }
    }
  }
  &__content {
    background: #e8edf1;
    padding: 0 5px 5px 5px;
  }
}