// Common
.form-checkbox {
  position: relative;
  @include inline-flex(false, center);
  cursor: pointer;
  @include hover {
    .form-checkbox__icon {
      box-shadow: none;
    }
  }
  &__icon {
    @include size(22px);
    @include inline-flex(center, center);
    @include transition(background, border-color, box-shadow);
    border-radius: 4px;
    background-color: transparent;
    position: relative;
    flex-shrink: 0;
  }
}

// Checkbox
.form-checkbox {
  &__icon {
    border: 1px solid $form-border;
    svg {
      @include size(10px, auto);
      transition: opacity 0.15s ease-out 0s;
      opacity: 0;
    }
  }
  input {
    &:checked {
      + .form-checkbox__iconsvg {
        opacity: 1;
      }
    }
    // &:focus {
    // + .form-checkbox__icon {
    //   box-shadow: 0 0 0 .1rem rgba(14, 38, 61, 0.2)
    // }
    // }
  }
}

// MODIFIERS
.form-checkbox {
  &--privacy {
    .form-checkbox {
      &__icon {
        @include size(20px);
        margin-right: 1rem;
      }
      &__text {
        font-size: 14px;
        @include xs {
          font-size: 12px;
        }
        a {
          @include transition(color);
          padding-bottom: 2px;
        }
      }
    }
  }
  &--simple {
    .form-checkbox__icon {
      @include size(20px);
      margin-right: 12px;
    }
  }
}

// COLORS
.form-checkbox {
  &--white {
    .form-checkbox {
      &__icon {
        border: 1px solid;
        background: $color-accent;
        border-color: $color-accent;
        svg {
          stroke: $color-white;
        }
      }
      &__text {
        color: $color-gray;
        a {
          color: rgba($color-white, 0.7);
          border-bottom: 1px solid rgba($color-white, 0.7);
          @include hover {
            color: $color-white;
            border-bottom: 1px solid $color-white;
          }
        }
      }
    }
    @include hover {
      .form-checkbox__icon {
        box-shadow: none;
      }
    }
  }
  &--black {
    .form-checkbox {
      &__icon {
        border: 1px solid;
        background: $color-white;
        border-color: $form-border;
        svg {
          stroke: $form-active;
        }
      }
      &__text {
        color: $form-text;
        a {
          color: rgba($color-accent, 0.7);
          border-bottom: 1px solid rgba($color-accent, 0.7);
          @include hover {
            color: $color-accent;
            border-bottom: 1px solid $color-accent;
          }
        }
      }
    }
    @include hover {
      .form-checkbox__icon {
        border-color: $color-white;
      }
    }
  }
}