//- Мета-тег description существует для описания страницы
meta(name='description', content='Портфолио WEB-разработчика Владислава Филинского')

//- Open Graph data

//- заголовок статьи, видео или другого объекта со страницы вашего сайта
meta(property='og:title', content='Портфолио WEB-разработчика Владислава Филинского')
//- тип объекта (новость, видео, статья, музыка и т.д.)
meta(property='og:type', content='website')
//- постоянная ссылка, которая будет идентифицировать объект
meta(property='og:url', content='localhost')
//- ссылка на изображение, описывающее статью, видео и т.д.
meta(property='og:image', content='assets/img/image-preview.jpg')
//- описание объекта, может быть в пределах 300 символов
meta(property='og:description', content='Портфолио WEB-разработчика Владислава Филинского')
//- Если ваш объект является частью большого web-сайта, название, должно отображаться
//- на всех страницах сайта. Например, "IMDb"
meta(property='og:site_name', content='Сайт Портфолио | Владислав Филинский')

