.video {
  position: relative;
  overflow: hidden;
  &:before {
    padding-top: 56.25%;
    display: block;
    content: '';
    width: 100%;
  }
  &__poster {
    position: relative;
    @include coverdiv();
    @include before() {
      @include coverdiv();
      background: #000;
      opacity: 0.1;
      z-index: 1;
    }
    &:hover {
      cursor: pointer;
      .video__button {
        transform: scale(1);
      }
    }
  }
  &__button {
    @include reset-button();
    @include svg-parent(true);
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    transform: scale(.76934);
    transition: transform .35s cubic-bezier(.17,.67,.3,1);
    will-change: transform;
    svg {
      stroke: #ffffff
    }
  }
}


.video-play {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  &__box {
    @include coverdiv()
  }
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  &__overlay {
    @include coverdiv();
    background-color: rgba(0,0,0,.25);
  }
  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    span {
      position: absolute;
      @include size(100px);
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -50px;
      background-color: rgba(0,0,0,.6);
      color: #111;
      border-radius: 50%;
      padding: 10px;
      user-select: none;
      @include sm {
        @include size(60px);
        margin-top: -30px;
        margin-left: -30px;
      }
      svg {
        fill: rgba(255,255,255,.9);
      }
    }
  }
  &__bottom {
    position: absolute;
    bottom: 4%;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__progressbar {
    position: relative;
    width: 90px;
    height: 2px;
    background-color: rgba(255,255,255,.4);
    &-line {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $color-gray-light;
      transform: scaleX(0);
      transform-origin: left;
    }
  }
}