// SECTION
section,
.section {
  position: relative;
  @include scale(padding, 60px 0, 50px 0, 40px 0);
}
.section {
  &-top {
    @include scale(padding-top, 120px, 100px, 100px);
  }
  &-noindent {
    padding: 0;
  }
  // BG
  &__bg {
    @include coverdiv();
  }
}

// WRAPPER
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

// .wrapper,
// .popup,
// .preloader {
//   position: relative;
//   svg {
//     @include svg-child(true);
//   }
// }

// CONTENT
.content {
  flex: 1 0 auto;
}

// CONTAINER
.container {
  width: 100%;
  margin: 0 auto;
  max-width: $content-size;
  @include dw {
    padding: 0 60px;
  }
  @include lg {
    padding: 0 30px;
  }
  @include sm {
    padding: 0 5%;
  }
}

// IMAGE
.image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  font-size: 12px;
  &-cover {
    display: block;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
    font-size: 12px;
  }
  &-height {
    display: block;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    font-size: 12px;
    margin: 0 auto;
  }
  &-contain {
    max-height: 100%;
    object-fit: contain;
    margin: auto auto;
  }
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

[data-src] {
  opacity: 0;
  transition: opacity .5s ease-out;
}

[data-src].loaded {
  will-change: opacity;
  transition: opacity .35s ease-out;
  opacity: 1;
}

// SEPARATOR
.separator {
  border-top: 1px solid;
  border-color: transparent;
  border-color: #c4c4c4;
  &-l {
    margin: 30px 0;
  }
  &-m {
    margin: 20px 0;
  }
}

// HIDDEN
.hidden {
  &-lg {
    @include lg {
      display: none !important;
    }
  }
  &-sm {
    @include sm {
      display: none !important;
    }
  }
  &-md {
    @include md {
      display: none !important;
    }
  }
  &-xs {
    @include xs {
      display: none !important;
    }
  }
}

.visible {
  &-lg {
    display: none !important;
    @include lg {
      display: block !important;
    }
  }
  &-sm {
    display: none !important;
    @include sm {
      display: block !important;
    }
  }
  &-md {
    display: none !important;
    @include md {
      display: block !important;
    }
  }
  &-xs {
    display: none !important;
    @include xs {
      display: block !important;
    }
  }
}

// STATE
.disabled,
.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

// lOADING
.is-loading:not(.btn):not(.btn-circle) {
  position: relative;
  min-height: 100px;
  @include before() {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    background-color: #fff;
    z-index: 5;
  }
  @include after() {
    @include size(46px);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -23px 0 0 -23px;
    z-index: 6;
    //@include loader($color-accent-2);
  }
}

.is-loading-hide {
  &::before,
  &:after {
    opacity: 0 !important;
    transition: opacity 1s ease !important;
  }
}

// ERROR
.is-error {
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  border: 1px solid #756c7a;
  border-radius: 10px;
  z-index: 100;
  @include after('Что-то пошло не так!') {
    display: block;
    font-size: 16px;
    color: #756c7a;
  }
  @include before() {
    @include size(50px,60px);
    background: no-repeat center / 100% url("data:image/svg+xml,%3Csvg fill='%23756c7a' viewBox='-72 0 480 480' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m100.6875 0-100.6875 100.6875v379.3125h336v-480zm-4.6875 27.3125v68.6875h-68.6875zm224 436.6875h-304v-352h96v-96h208zm0 0'/%3E%3Cpath d='m126.625 190.054688-22.625 22.632812-22.625-22.632812-11.3125 11.3125 22.625 22.632812-22.625 22.632812 11.3125 11.3125 22.625-22.632812 22.625 22.632812 11.3125-11.3125-22.625-22.632812 22.625-22.632812zm0 0'/%3E%3Cpath d='m201.375 257.945312 22.625-22.632812 22.625 22.632812 11.3125-11.3125-22.625-22.632812 22.625-22.632812-11.3125-11.3125-22.625 22.632812-22.625-22.632812-11.3125 11.3125 22.625 22.632812-22.625 22.632812zm0 0'/%3E%3Cpath d='m98.34375 330.34375 11.3125 11.3125 7.433594-7.433594c28.136718-28.0625 73.683594-28.0625 101.820312 0l7.433594 7.433594 11.3125-11.3125-7.433594-7.433594c-34.386718-34.308594-90.058594-34.308594-124.445312 0zm0 0'/%3E%3C/svg%3E");
  }
}

// PLACEHOLDER img(src="https://placehold.it/250x200?text=Картинка" alt="")
.placeholder {
  height: 100%;
  background-size: auto 30%;
  background-color: #E0E0E7;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%20282.69%20228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20fill%3D%22%23A5A5A5%22%20cx%3D%22115.3%22%20cy%3D%2235.75%22%20r%3D%2235.75%22%2F%3E%3Cpath%20fill%3D%22%23A5A5A5%22%20d%3D%22M188.7%2C228h-81.34c-10.27%2C0-16.24-11.86-10.28-20.41l38.69-55.48l42.65-61.2%20c5.03-7.22%2C15.53-7.22%2C20.56%2C0l42.64%2C61.17l38.7%2C55.51c5.96%2C8.55-0.02%2C20.4-10.28%2C20.4H188.7z%22%2F%3E%3Cpath%20fill%3D%22%23A5A5A5%22%20d%3D%22M2.48%2C206.79l55.44-78.81c4.27-6.07%2C12.64-7.54%2C18.72-3.29l112.83%2C78.81%20c10.8%2C7.54%2C5.46%2C24.51-7.71%2C24.51l-168.27%2C0C2.58%2C228-3.8%2C215.71%2C2.48%2C206.79z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 50%;
}

// HOVER IMAGE
.hover-image {
  display: block;
  overflow: hidden;
  @include xs {
    border-radius: 0;
  }
  img {
    @include transition(transform);
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

// HOVER TEXT
.hover-text {
  display: block;
  @include transition(color);
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $color-accent;
  }
  p,
  span,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-decoration: none;
    color: inherit;
  }
}

// HOVER LINK
.hover-link {
  position: relative;
  @include before() {
    @include coverdiv();
    @include transition(opacity);
    background: linear-gradient(180deg, rgba(66, 66, 66, 0) 0%, #636363 100%);
    opacity: 0;
  }
  &__link {
    @include transition(transform, opacity);
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    z-index: +z(default);
  }
  @include hover {
    &::before {
      opacity: 1;
    }
    .hover-link__link {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

// HOVER VIDEO
.hover-video {
  display: block;
  cursor: pointer;
  @include size(100%);
  @include before() {
    @include scale(width, 80, 60, 40);
    @include scale(height, 80, 60, 40);
    @include transition(opacity);
    @include center(both);
    opacity: 0.8;
    border-radius: 50%;
    z-index: 1;
    background: $color-white no-repeat center /100% url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 0C17.944 0 0 17.944 0 40C0 62.056 17.944 80 40 80C62.056 80 80 62.056 80 40C80 17.944 62.056 0 40 0ZM60.7507 41.1013L31.4173 61.1013C31.192 61.2547 30.9293 61.3333 30.6667 61.3333C30.4533 61.3333 30.2387 61.2827 30.044 61.1787C29.6067 60.948 29.3333 60.4947 29.3333 60V20C29.3333 19.5053 29.6067 19.052 30.044 18.8213C30.4813 18.5893 31.0093 18.6213 31.4187 18.8987L60.752 38.8987C61.1147 39.1467 61.3333 39.5587 61.3333 40C61.3333 40.4413 61.1147 40.8533 60.7507 41.1013Z' fill='%23CF4B50'/%3E%3C/svg%3E%0A");
  }
  @include hover {
    &::before {
      opacity: 1;
    }
  }
}

// ZOOM
.hover-zoom {
  position: relative;
  display: block;
  text-decoration: none;

  @include before() {
    @include size(50px);
    @include transition(opacity, transform);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%,0);
    background: $color-gray-light no-repeat center / 60% url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.16602 1.75C4.09023 1.75 2.41602 3.42421 2.41602 5.5V8C2.41602 8.41421 2.08023 8.75 1.66602 8.75C1.2518 8.75 0.916016 8.41421 0.916016 8V5.5C0.916016 2.59579 3.2618 0.25 6.16602 0.25H8.66602C9.08023 0.25 9.41602 0.585786 9.41602 1C9.41602 1.41421 9.08023 1.75 8.66602 1.75H6.16602Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.916 1C13.916 0.585786 14.2518 0.25 14.666 0.25H17.166C20.0702 0.25 22.416 2.59579 22.416 5.5V8C22.416 8.41421 22.0802 8.75 21.666 8.75C21.2518 8.75 20.916 8.41421 20.916 8V5.5C20.916 3.42421 19.2418 1.75 17.166 1.75H14.666C14.2518 1.75 13.916 1.41421 13.916 1Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.666 14.25C22.0802 14.25 22.416 14.5858 22.416 15V16.5C22.416 19.4042 20.0702 21.75 17.166 21.75H15.666C15.2518 21.75 14.916 21.4142 14.916 21C14.916 20.5858 15.2518 20.25 15.666 20.25H17.166C19.2418 20.25 20.916 18.5758 20.916 16.5V15C20.916 14.5858 21.2518 14.25 21.666 14.25Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.66602 13.25C2.08023 13.25 2.41602 13.5858 2.41602 14V16.5C2.41602 18.5758 4.09023 20.25 6.16602 20.25H8.66602C9.08023 20.25 9.41602 20.5858 9.41602 21C9.41602 21.4142 9.08023 21.75 8.66602 21.75H6.16602C3.2618 21.75 0.916016 19.4042 0.916016 16.5V14C0.916016 13.5858 1.2518 13.25 1.66602 13.25Z' fill='white'/%3E%3C/svg%3E%0A");
    @include lg {
      @include size(40px);
    }
    @include sm {
      @include size(30px);
    }
    &:hover {
      background-color: $color-accent;
    }
  }
  &:hover {
    &:before {
      opacity: 0.9;
      transform: translate(-50%,-50%);
    }
  }
}

// CLEARFIX
.clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
// HIDDEN
.visually-hidden {
  @include visually-hidden();
}

// background: linear-gradient(90deg,#000 3%,rgba(0,0,0,0) 13%,rgba(0,0,0,0) 87%,#000 97%);