.ui-shadow {
  background: $color-white;
  box-shadow: $shadow-def;
  border-radius: 3px;
}
// Views
.ui-views {
  display: flex;
  align-items: center;
  svg {
    width: 23px;
    height: 17px;
    margin-right: 8px;
    color: $color-black;
  }
  span {
    font-size: 14px;
    color: $color-black;
  }
}

// IFRAME
.ui-iframe {
  position: relative;
  width: 100%;
  padding-top: 50.5%;
  margin: 2rem 0 4rem;
  overflow: hidden;
  border-radius: 10px;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

// ZOOM
.image-zoom {
  position: relative;
  display: block;
  text-decoration: none;

  @include before() {
    @include size(50px);
    @include transition(opacity, transform);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transform: translate(-50%,0);
    background: no-repeat center / 100% url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5338 0C17.9038 0 23.0677 5.04983 23.0677 11.2791C23.0677 14.2189 21.9176 16.8959 20.0335 18.9035L23.739 22.5163C24.0864 22.8551 24.0871 23.4051 23.7407 23.7448C23.4257 24.0536 22.9323 24.0822 22.5842 23.8304L22.4845 23.7464L18.7352 20.0901C16.7618 21.6346 14.2581 22.5582 11.5338 22.5582C5.16388 22.5582 0 17.5084 0 11.2791C0 5.04983 5.16388 0 11.5338 0ZM11.5338 1.73729C6.14503 1.73729 1.77652 6.00931 1.77652 11.2791C1.77652 16.5489 6.14503 20.8209 11.5338 20.8209C16.9227 20.8209 21.2912 16.5489 21.2912 11.2791C21.2912 6.00931 16.9227 1.73729 11.5338 1.73729Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
    @include lg {
      @include size(40px);
    }
    @include sm {
      @include size(30px);
    }
    &:hover {
      background-color: $color-accent;
    }
  }
  &:hover {
    &:before {
      opacity: .5;
      transform: translate(-50%,-50%);
    }
  }
}

// ICON
.ui {
  &-icon {
    display: flex;
    align-items: center;
    svg {
      position: relative;
      top: -.1em;
      width: 1em;
      height: 1em;
      margin-right: .5em;
    }
    span {
      font-size: 1em;
    }
    &--accent {
      svg {
        color: $color-accent;
      }
    }
    &--black {
      color: $color-black;
    }
    &--grey {
      color: $color-gray;
    }
    &--download {
      svg {
        // color: $color-gray
        position: relative;
        top: -.1em;
        width: 1.2em;
        height: 1.2em;
        margin-right: .5em;
      }
    }
  }
}

// CUSTOM SCROLLBAR
.custom-scrollbar {
  @include custom-scrollbar(4px,#868996);
}