.l-flex {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: +z(default);
  > .col {
    display: flex;
    flex-direction: column;
    > div,
    > a {
      flex-grow: 1;
    }
  }

  &-1 {
    > .col {
      width: 100%;
      @include not-last() {
        @include scale(margin-bottom, 40, 30, 20);
      }
    }
    &--l {
      .col {
        width: 100%;
        @include not-last() {
          @include scale(margin-bottom, 70, 50, 30);
        }
      }
    }
  }

  &-2 {
    @include scale(margin, -15px, -10px, -10px);
    > .col {
      @include scale(padding, 15px, 10px, 10px);
      @include scale(width, 50%, 50%, 100%);
    }
  }

  &-3 {
    @include scale(margin, -15px, -10px, -10px);
    > .col {
      width: 33.333%;
      @include scale(padding, 15px, 10px, 10px);
      @include md {
        width: 50%;
      }
      @include xs {
        width: 100%;
      }
    }
  }

  &-4 {
    margin: -10px;
    @include xs {
      margin: -5px;
    }
    > .col {
      width: 25%;
      padding: 10px;
      @include lg {
        width: 33.3333%;
      }
      @include sm {
        width: 50%;
      }
      @include xs {
        padding: 5px;
      }
    }
  }

  &-4to1 {
    margin: -10px;
    > .col {
      @include scale(width, 25%, 33%, 50%);
      padding: 10px;
      @include xs {
        width: 100%;
      }
    }
  }

  &-5 {
    margin: -5px;
    > .col {
      @include scale(width, 20%, 50%, 100%);
      padding: 5px;
    }
  }

  &-6 {
    margin: -7px;
    > .col {
      @include scale(width, 16.666666%, 33.3333%, 50%);
      padding: 7px;
    }
  }

  &-1on3 {
    @include scale(margin, -20px, -15px, -10px);
    justify-content: space-between;
    > .col {
      @include scale(padding, 20px, 15px, 10px);
      &:nth-child(1) {
        @include scale(width, 33.33333%, 40%, 100%);
      }
      &:nth-child(2) {
        @include scale(width, 66.66666%, 60%, 100%);
      }
    }
  }

  &-3on1 {
    @include scale(margin, -20px, -15px, -10px);
    justify-content: space-between;
    > .col {
      @include scale(padding, 20px, 15px, 10px);
      &:nth-child(1) {
        @include scale(width, 66.66666%, 60%, 100%);
      }
      &:nth-child(2) {
        @include scale(width, 33.33333%, 40%, 100%);
      }
    }
  }

  &-40on60 {
    @include scale(margin, -30px, -15px, -10px);
    justify-content: space-between;
    > .col {
      @include scale(padding, 30px, 15px, 10px);
      &:nth-child(1) {
        @include scale(width, 40%, 45%, 100%);
      }
      &:nth-child(2) {
        @include scale(width, 60%, 55%, 100%);
      }
    }
  }

  &-60on40 {
    @include scale(margin, -25px, -15px, -10px);
    > .col {
      @include scale(padding, 25px, 15px, 10px);
      &:nth-child(1) {
        @include scale(width, 60%, 55%, 100%);
      }
      &:nth-child(2) {
        @include scale(width, 40%, 45%, 100%);
      }
    }
  }
}

// MODIFIERS
.l-flex {
  &--center {
    align-items: center;
  }
  &--height {
    > .col {
      > div,
      > a {
        height: 100%;
      }
    }
  }
  &--narrow {
    margin: -5px;
    .col {
      padding: 5px;
    }
  }
  &--narrow-sm {
    margin: -10px;
    .col {
      padding: 10px;
      margin: 0;
    }
  }
  &--narrow-xs {
    margin: -5px;
    @include xs {
      margin: -2px;
    }
    .col {
      padding: 5px;
      margin: 0;
      @include xs {
        padding: 2px;
      }
    }
  }
  &--large {
    @include scale(margin, -40, -15, -10);
    > .col {
      @include scale(padding, 40, 15, 10);
    }
  }
}
.col {
  &--wide {
    width: 100% !important;
  }
}

// SCROLL
.l-flex--scroll {
  &::-webkit-scrollbar {
    height: 0;
  }
  @include md {
    width: calc(100% + 60px);
    margin: 0 -30px;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 20px;
  }
  @include xs {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
  .col {
    @include is-first() {
      @include md {
        margin-left: 20px;
      }
      @include xs {
        margin-left: 10px;
      }
    }
    @include is-last() {
      @include md {
        margin-right: 20px;
      }
      @include xs {
        margin-right: 10px;
      }
    }
    @include md {
      width: 42%;
      flex-shrink: 0;
    }
    @include sm {
      width: 75%;
    }
  }
}