mixin breadcrumbs(items, last)
  nav.breadcrumbs-wrap(aria-label="breadcrumb")
    .container
      ul.breadcrumbs&attributes(attributes)
        each item in items
          li.breadcrumbs__item
            //- if (items.length === 1)
            //-   span.breadcrumb__link= item[0]
            //- else
            a(href=item[1] title=item[0]).breadcrumbs__link= item[0]

        if last
          li.breadcrumbs__item
            span.breadcrumbs__link-current= last
        else
//- Use in block variables:
    - var breadcrumbs = [ ['Главная', '/' ] ];
    - var breadcrumbslast = title;
    
    add to file
    if (breadcrumbs)
      +breadcrumbs(breadcrumbs,breadcrumbslast)