$bc-color-link: $color-accent;
$bc-color-item: $color-gray;

.breadcrumbs {
  @include flex();
  letter-spacing: 0.08em;
  overflow: hidden;
  font-weight: 500;
  &-wrap {
    width: 100%;
    position: absolute;
    // +scale(top, 140px, 90px, 70px)
    z-index: +z(breadcrumbs);
    padding: 30px 0;
    @include md {
      padding: 15px 0 13px 0;
    }
  }
  &__item {
    white-space: nowrap;
    font-size: 14px;
    color: $bc-color-item;
    &:not(:last-child) {
      margin-right: 7px;
    }
  }
  &__link {
    display: inline-flex;
    align-items: center;
    @include transition(color);
    color: $bc-color-link;
    @include after() {
      position: relative;
      display: inline-block;
      margin-left: 10px;
      color: $bc-color-link;
      width: 5px;
      height: 10px;
      background: no-repeat center / 100% url("data:image/svg+xml,%3Csvg width='5' height='10' viewBox='0 0 5 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.625 8.75L4.375 5L0.625 1.25' stroke='%23979A9E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    @include hover {
      color: lighten($bc-color-link, 10%);
    }
// ._bradcrumbs-black
//   .breadcrumbs
//     color: $bc-color-link
//     &__link::after
//       color: $bc-color-link
  }
}