$color-bar-red: #c0392b;
$color-bar-blue: #1199ff;
$color-bar-purple: #9b59b6;
$color-bar-orange: #ffa500;
$color-bar-green: #27ae60;

.skill-item {
  &-row {
    max-width: 760px;
    margin: 0 auto;
    .skill-item {
      @include not-last() {
        margin-bottom: 20px;
      }
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    font-family: $font-title;
    font-size: 16px;
    text-transform: uppercase;
    &-name {
      font-weight: bold;
    }
  }
  &__bar {
    background: $color-gray-dark;
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    display: block;
    border-radius: 5px;
    &-inner {
      position:absolute;
      width: 0;
      height: 100%;
      border-radius: 5px;
  }
  }
}

// COLORS
._bar-color-red {
  background: $color-bar-red
}
._bar-color-blue {
  background: $color-bar-blue
}
._bar-color-purple {
  background: $color-bar-purple
}
._bar-color-orange {
  background: $color-bar-orange
}
._bar-color-green {
  background: $color-bar-green
}