section.bg-color-gray#about
  .container
    +headline({
      size: 'md',
      mode: 'section',
      title: 'Обо мне'
    })
    .text-content.text-center.fz-18(data-anim="fadeIn")
      p Занимаюсь веб-разработкой с 2017 года. Работаю в Тюменской IT компании с 2018 года. Хорошо знаю верстку HTML, CSS и JS. Есть опыт работы с CMS Bitrix и October CMS. Так же работал с фраймворком Laravel и немного знаю PHP. Есть опыт работы с VUE 3.