.yandex-map__fullscreen-button {
  @include transition(opacity);
  @include size(40px);
  top: 20px;
  right: 20px;
  position: relative;
  background-color: $color-white;
  cursor: pointer;
  border: 1px solid rgba(0,0,0, .1);
  border-radius: $radius;
  display: none;
  @include sm {
    @include size(30px);
    right: 10px;
    top: 10px;
  }
  svg {
    @include transition(stroke);
    @include size(13px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: $color-black;
    @include sm {
      @include size(10px);
    }
  }
  &-open {
    display: block;
  }
}
.map-open {
  .header {
    visibility: hidden;
  }
  .yandex-map__fullscreen-button {
    &-open {
      display: none;
    }
    &-close {
      display: block;
    }
  }
}