// COMMON
.btn,
.btn-circle {
  @include reset-button();
  @include inline-flex(center, center);
  @include transition(background, border-color, color);
  position: relative;
  line-height: 1.4;
  border-radius: 5px;
  // box-shadow: $shadow-def
  cursor: pointer;
  // font-weight: 600
  white-space: nowrap;
  font-family: $font-title;
}

// BUTTON
.btn {
  &__text {
    flex-grow: 1;
    text-align: center;
    position: relative;
  }
  &__icon {
    &-after,
    &-before {
      @include svg-parent(true);
      @include size(1.2em);
      display: inline-block;
      flex-grow: 1;
      color: inherit;
    }
    &-after {
      margin-left: .9em;
    }
    &-before {
      margin-right: .9em;
    }
  }
  &-theme {
    &-accent {
      color: $color-gray-light;
      background: $color-blue;
      &:hover {
        background: lighten($color-blue, 5%);
      }
    }
    &-accent-2 {
      color: $color-white;
      background: $color-accent-3;
      border-color: $color-accent-3;
      &:hover {
        border-color: darken($color-accent-2, 10%);
        background: darken($color-accent-2, 10%);
      }
    }
    &-white {
      color: $color-accent;
      background: $color-white;
      border-color: $color-white;
      &:hover {
        background: $color-accent;
        color: $color-white;
      }
    }
  }
  &-size {
    &-lg {
      font-size: 18px;
      padding: 0 20px;
      height: 60px;
    }
    &-md {
      font-size: 18px;
      padding: 0 20px;
      height: 50px;
      @include lg {
        font-size: 15px;
        height: 40px;
      }
    }
    &-sm {
      font-size: 14px;
      padding: 0 13px;
      height: 40px;
    }
    &-xs {
      font-size: 12px;
      padding: 0 12px;
      height: 30px;
    }
  }
}

// MOD
.btn {
  &-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  &--wide {
    padding-left: 4em;
    padding-right: 4em;
    &-100 {
      @include xs {
        width: 100%;
      }
    }
  }
}

// MORE
.btn-more-wrap {
    @include flex(center);
    padding-top: 45px;
}

// STATE
.btn {
  &.is-loading {
    pointer-events: none;
    min-height: auto;
    @include after() {
      @include size(25px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: z(default);
      @include preloader(#ffffff);
    }
    .btn__text,
    .btn__icon-after,
    .btn__icon-before {
      opacity: 0;
      transition-delay: 0.2s;
    }
  }
  &.is-disabled {
    pointer-events: none;
    opacity: .5;
  }
}

// KEYFRAMES
@keyframes button-loader {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.not-stroke {
  svg {
    stroke: none !important;
  }
}