// CIRCLE
.btn-circle {
  &__text {
    font-size: 15px;
    text-transform: none;
    font-weight: normal;
    margin-left: 8px;
  }
  &__icon-before {
    @include inline-flex(center, center);
    border-radius: 50%;
    border: 1px solid;
    @include transition(background, border-color);
    svg {
      @include transition(stroke);
      stroke-width: 2;
    }  // THEME
  }
  &-theme {
    &-gray {
      color: $color-gray;
      .btn-circle {
        &__icon-before {
          color: $color-white;
          background: $color-gray;
          border-color: $color-gray;
          svg {
            fill: $color-white;
          }
        }
      }
      &:hover {
        color: lighten($color-gray, 10%);
        .btn-circle {
          &__icon-before {
            background: darken($color-gray, 25%);
            border-color: darken($color-gray, 25%);
            color: $color-white;
            svg {
              fill: $color-white;
            }
  // SIZE
          }
        }
      }
    }
  }
  &-size {
    &-xlg {
      .btn-circle {
        &__icon-before,
        &__icon-after {
          @include size(80px);
          font-size: 30px;
          img,
          svg {
            @include max-size(30px);
          }
        }
      }
    }
    &-lg {
      .btn-circle {
        &__icon-before,
        &__icon-after {
          @include size(60px);
          font-size: 26px;
          img,
          svg {
            @include max-size(26px);
          }
        }
      }
    }
    &-md {
      .btn-circle {
        &__icon-before,
        &__icon-after {
          font-size: 24px;
          @include size(50px);
          @include lg {
            @include size(40px);
            font-size: 20px;
          }
          img,
          svg {
            @include max-size(20px);
            @include lg {
              @include max-size(15px);
            }
          }
        }
      }
    }
    &-sm {
      .btn-circle {
        &__icon-before,
        &__icon-after {
          @include size(38px);
          font-size: 18px;
          img,
          svg {
            @include max-size(18px);
          }
        }
      }
    }
    &-xs {
      .btn-circle {
        &__icon-before,
        &__icon-after {
          font-size: 13px;
          @include size(30px);
          img,
          svg {
            @include max-size(13px);
          }  // STATE
        }
      }
    }
  }
  &.is-loading {
    border: 1px solid rgba(0,0,0,.1);
    cursor: default;
    pointer-events: none;
    @include before() {
      @include size(39);
      border: 2px solid $color-accent;
      border-left: 2px solid transparent;
      border-top: 2px solid transparent;
      position: absolute;
      border-radius: 50%;
      top: -2px;
      bottom: 0;
      left: -1px;
      right: 0;
      z-index: 1;
      animation: turn 2s cubic-bezier(.5,0,.5,1) infinite;
    }
    svg {
      fill-opacity: .5;
    }
  }
}
@keyframes turn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
};

// WRAP CIRCLE
.btn-circle-wrap {
  &-row {
    display: flex;
    .btn-circle {
      @include not-last() {
        margin-right: 8px;
      }
    }
  }
}

@import 'button-circle'