.yandex-map.yandex-map--contact
  .yandex-map-map
    .j-lazy-function.yandex-map__wrapper.j-yandex-map.j-map-project(data-json=require('./data/data-contact-1.json') data-lazy-function-enter="map:init")
      .yandex-map__container
        #yandex-map.yandex-map__base.j-yandex-map-base.is-loading