.yandex-map.yandex-map--contact
  .yandex-map-map
    .j-click-target.yandex-map__wrapper.j-yandex-map.j-map-project(data-json=require('./data/data-contact-2.json') data-lazy-function="map:init")
      .yandex-map__container
        #yandex-map-2.yandex-map__base.j-yandex-map-base.is-loading