@import "./balloon/balloon";
@import "./custom-fullscreen/custom-fullscreen";
@import "./custom-zoom/custom-zoom";
@import "./marker/marker";

.yandex-map {
  display: flex;
  position: relative;
  &--project {
    .yandex-map {
      &__base {
        @include scale(height, 740px, 680px, 580px);
      }
    }
  }
  &--contact {
    .yandex-map {
      &__base {
        @include scale(height, 550px, 500px, 480px);
      }
    }
  }
  &--infrastructure {
    @include flex(space-between);
    position: relative;
    .yandex-map {
      &__wrapper {
        width: 78%;
        position: relative;
        @include lg {
          width: 100%;
        }
      }
      &__base {
        @include scale(height, 600px, 590px, 590px);
      }
    }
  }
  &-legend {
    position: relative;
    z-index: 1;
    @include flex(false, false,column);
    width: 22%;
    @include lg {
      position: absolute;
      width: 260px;
      bottom: 30px;
      left: 50%;
      transform: translatex(-50%);
      align-items: center;
      margin-bottom: 0;
    }
    &.is-open {
      .yandex-map-legend__list-wrap {
        transition: opacity .25s, visibility 0s, height .35s;
        visibility: visible;
        height: 380px;
        opacity: 1;
        padding: 20px 10px;
        margin-bottom: 10px;
      }
    }
    &__list {
      width: 100%;
      overflow: auto;
      margin-bottom: 40px !important;
      @include custom-scrollbar(4px, $color-gray, $color-gray);
      @include lg {
        max-height: 320px;
        max-width: 100%;
        margin-bottom: 20px !important;
      }
    }
    &__list-wrap {
      width: 100%;
      //flex-grow: 1
      @include flex(space-between, flex-start, column);
      @include lg {
        background: $color-white;
        box-shadow: $shadow-card;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: $radius;
        align-items: center;
        transition: opacity .25s, visibility 0s .25s, height .35s;
        visibility: hidden;
        opacity: 0;
        height: 0;
        padding: 0;
      }
      > .btn {
        @include lg {
          margin-left: -20px;
          background: none !important;
          padding: 0;
          color: $color-accent;
          text-decoration: underline;
          font-size: 14px;
        }
      }
    }
    &__icon {
      @include inline-flex(center, center);
      @include size(35px);
      border-radius: 50%;
      background: $color-accent;
      margin-right: 15px;
      @include lg {
        @include size(30px);
        margin-right: 10px;
      }
      img {
        max-width: 70%;
      }
    }
    &__text {
      flex-grow: 1;
      @include lg {
        font-size: 14px;
      }
    }
    &__toggle {
      position: relative;
      z-index: 1;
      display: none;
      @include lg {
        display: block;
      }
      &-btn {
        padding: 10px 20px;
        background-color: $color-white;
        box-shadow: $shadow-def;
        border-radius: $radius;
        border: 1px solid rgba(0,0,0, .1);
        @include flex(center, center);
        position: relative;
        cursor: pointer;
        &-text {
          white-space: nowrap;
          margin-right: 10px;
          font-size: 14px;
        }
        &-icon {
          svg {
            fill: $color-black;
            @include is-first() {
              @include size(14px);
            }
            @include is-last() {
              @include size(12px);
              margin: 0 1px;
              display: none;
            }
          }
        }
        &.is-open {
          .yandex-map-legend__toggle-btn-icon {
            svg {
              @include is-first() {
                display: none;
              }
              @include is-last() {
                display: block;
              }
            }
          }
        }
      }
    }
    &__item {
      margin-bottom: 15px !important;
      @include lg {
        margin-bottom: 10px !important;
      }
    }
    &__content {
      width: 100%;
      @include flex(space-between, center);
      @include transition(opacity);
      opacity: 0.7;
      padding-right: 40px;
      @include after() {
        display: inline-block;
        @include size(28px, 2px);
        background: $color-accent;
        opacity: 0.7;
      }
    }
    &__label {
      width: 100%;
    }
    &__checkbox {
      &:checked {
        + .yandex-map-legend__content {
          opacity: 1 !important;
        }
      }
    }
    &-btn {
      @include flex(false, center);
      cursor: pointer;
      @include transition(opacity);
      opacity: 0.7;
      &:hover {
        opacity: 0.7;
      }
      &-icon {
        @include size(50px);
        border-radius: $radius;
        background: $color-accent;
        @include flex(center, center);
        margin-right: 20px;
        @include lg {
          @include size(40px);
        }
        img {
          @include size(30px);
          @include lg {
            @include size(25px);
          }
        }
      }
    }
  }
  &-filter {
    width: 100%;
    position: relative;
    bottom: 0;
    @include lg {
      display: flex;
      justify-content: center;
    }
    .link {
      @include font-size(text);
      @include lg {
        font-size: 14px;
      }
    }
    &__reset {
      padding: 5px 20px;
      background: $color-accent;
      color: $color-white;
      border-radius: $radius-md;
      cursor: pointer;
      &.is-disabled {
        opacity: 0.7;
        pointer-events: none;
      }
    }
    &__agree {
      display: none;
    }
  }
}

// yandex-map
.yandex-map {
  &-map {
    width: 100%;
    position: relative;
  }
  &__container {
    position: relative;
    @include transition(opacity);
  }
  &__base {
    overflow: hidden;
    border-radius: $radius-md;
  }
}

// OVERLAY
.yandex-map__overlay {
  padding-top: 27px;
  @include flex(flex-start, space-between);
  @include coverdiv();
  background-color: rgba($color-black, 0.6);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 3;
  display: none;
  @include lg {
    dispaly: flex;
  }
  &.is-active {
    display: none;
  }
  .h3 {
    color: $color-white;
  }
}

[class^="ymaps"] {
  &[class$="-ground-pane"] {
    filter: grayscale(.5);
  }
}

.map-open {
  .panel {
    z-index: -1;
  }
  .header {
    z-index: -1;
  }
}