.composition-right__item(data-tab="accordion")
  .composition-right__top Аккордеон
  .composition-right__bottom
    .composition-right__bottom-inner
      .composition-block-title Аккордеон
      .acc-wrap-column
        .acc.acc-desktop.acc-theme-simple.j-acc.j-acc-desktop.is-open
          .acc__head
            h4.acc__title Таргетинги
          .acc__content-wrap
            .acc__content.text-content
              p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
        .acc.acc-desktop.acc-theme-simple.j-acc.j-acc-desktop
          .acc__head
            h4.acc__title Таргетинги
          .acc__content-wrap
            .acc__content.text-content
              p Далеко-далеко за словесными горами в стране.
              ul
                li Список 1
                li Список 2
                li Список 3
        .acc.acc-desktop.acc-theme-simple.j-acc.j-acc-desktop
          .acc__head
            h4.acc__title Таргетинги
          .acc__content-wrap
            .acc__content.text-content
              p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дороге свое языком курсивных языкового?

      .composition-block-title Показать/Скрыть
      .acc-wrap-column
        p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.
        .acc.acc-desktop.acc-theme-text.j-acc.j-acc-desktop(data-close="false" data-change-title="true")
          .acc__head
            .acc__title Показать текст
          .acc__content-wrap
            .acc__content.text-content
              p Напоивший своих журчит за пояс мир переписали проектах безопасную живет, но, подпоясал курсивных скатился буквенных, переулка продолжил собрал? Сбить, вопрос.
