.composition-right__item(data-tab="layout")
  .composition-right__top Блоки
  .composition-right__bottom
    .composition-right__bottom-inner
      .composition-block-title Одна колонки
      .composition-block-class l-flex l-flex-1
      .composition-block-content
        .l-flex.l-flex-1
          .col
            .composition-box

      .composition-block-title Две колонки
      .composition-block-class l-flex l-flex-2
      .composition-block-content
        .l-flex.l-flex-2
          each i in[1,2]
            .col
              .composition-box

      .composition-block-title Три колонки
      .composition-block-class l-flex l-flex-3
      .composition-block-content
        .l-flex.l-flex-3
          each i in[1,2,3]
            .col
              .composition-box

      .composition-block-title Четыре колонки
      .composition-block-class l-flex l-flex-4
      .composition-block-content
        .l-flex.l-flex-4
          each i in[1,2,3,4]
            .col
              .composition-box

      .composition-block-title Пять колонки
      .composition-block-class l-flex l-flex-5
      .composition-block-content
        .l-flex.l-flex-5
          each i in[1,2,3,4,5]
            .col
              .composition-box

      .composition-block-title Две колонки
      .composition-block-class l-flex l-flex-1on3
      .composition-block-content
        .l-flex.l-flex-1on3
          .col
            .composition-box
          .col
            .composition-box

      .composition-block-title Две колонки
      .composition-block-class l-flex l-flex-3on1
      .composition-block-content
        .l-flex.l-flex-3on1
          .col
            .composition-box
          .col
            .composition-box

      .composition-block-title Две колонки
      .composition-block-class l-flex l-flex-40on60
      .composition-block-content
        .l-flex.l-flex-40on60
          .col
            .composition-box
          .col
            .composition-box

      .composition-block-title Две колонки
      .composition-block-class l-flex l-flex-60on40
      .composition-block-content
        .l-flex.l-flex-60on40
          .col
            .composition-box
          .col
            .composition-box