.composition-right__item(data-tab="links")
  .composition-right__top Ссылки
  .composition-right__bottom
    .composition-right__bottom-inner
      .composition-block-title Акцентный цвет
      .composition-block.composition-block--light
        +link({size: 'lg',theme: 'accent',url: '#',text: 'Ссылка'})
        +link({size: 'md',theme: 'accent',url: '#',text: 'Ссылка'})
        +link({size: 'sm',theme: 'accent',url: '#',text: 'Ссылка'})

      .composition-block-title Модификаторы
      .composition-block.composition-block--light
        +link({className: 'link--border',size: 'md',theme: 'accent',url: '#',text: 'Ссылка c бордером'
        })
        br
        br
        +link({size: 'md',theme: 'accent',url: '#',uppercase: true,text: 'Ссылка uppercase'})
        br
        br
        +link({size: 'md',theme: 'accent',url: '#',text: 'Ссылка с иконкой до текста',iconBefore: {name:'arrow-l',},
        })
        br
        +link({size: 'md',theme: 'accent',url: '#',text: 'Ссылка с иконкой после текста',iconAfter: {name: 'arrow-l',},
        })

      .composition-block-title Ссылка с модификатором ховера
      .composition-block.composition-block--light
        +link({className: 'link-state-grey',size: 'md',url: '#',text: 'Ссылка'})
        br
        +link({className: 'link-state-green',size: 'md',url: '#',text: 'Ссылка'})