.composition__content-item(data-tab="typography")
  .composition-block-label Типографика
  article.text-content.text-content-decore
    +headline({
      size: 'lg',
      mode: 'section',
      title: 'Как работает quiz-маркетинг? Краткий экскурс и эффективные методы',
      subtitle: 'Примеры анимации'
    })
    span.ui-icon.ui-icon--grey
      +icon('data')
      span 01.01.2020г.
    a.j-popup.j-popup-zoom.image-zoom(href=require("@image/common/image-common-1.jpg"), title="Как работает quiz-маркетинг")
      img.image(src=require("@image/common/image-common-1.jpg"), alt="Как работает quiz-маркетинг")


    .text-content
      h2 (h2)Какие показатели растут благодаря Quiz’ам?
      p Как маркетологи, мы часто сталкиваемся с проблемой выбора контента, который не только подстегнет продажи, но и позволит шагнуть дальше конкурентов. Использование квизов как части маркетинговой стратегии — один из самых эффективных типов контента.
      p 2020 год. Facebook, Twitter, Pinterest, Instagram, YouTube etc. наводнены квизами. Вам уже наверняка не раз предлагали узнать, на какого героя фильма вы похожи, какой из вас масон и какого цвета ваша аура.
      p Будучи изначально фишкой Buzzfeed, квизы за пару лет действительно захватили мир digital-маркетинга и прочно закрепились в повседневных активностях пользователей социальных сетей. Квизы находятся в числе приоритетных маркетинговых задач почти каждого бренда, а их разработкой занимаются отдельные специалисты.
      h3 (h3)Какие показатели растут благодаря Quiz’ам?
      ul
        li Аудит конкурентов в отрасли в регионе.
        li Концепция и проекторование сайта.
        li Разработка, оптимизация, наполнение
        li Тестирование, запуск и аналитика
      h4 (h4)Какие показатели растут благодаря Quiz’ам?
      ol
        li Аудит конкурентов в отрасли в регионе.
        li Концепция и проекторование сайта.
        li Разработка, оптимизация, наполнение
        li Тестирование, запуск и аналитика
      h5 (h5)Какие показатели растут благодаря Quiz’ам?
      img(src=require("@image/common/image-common-1.jpg") alt="Изображение с заполненным атрибутом alt")
      bloqoute 2020 год. Facebook, Twitter, Pinterest, Instagram, YouTube etc. наводнены квизами. Вам уже наверняка не раз предлагали узнать, на какого героя фильма вы похожи, какой из вас масон и какого цвета ваша аура.
      .table-responsive
        table
          thead
            tr
              th Показатель 1
              th Показатель 2
              th Показатель 3
              th Показатель 4
              th Показатель 5
          tbody
            tr
              td Значение 1
              td 1
              td 1.654
              td Красный
              td 22:00
            tr
              td Значение 2
              td 2
              td 456789
              td Синий
              td 22:00
            tr
              td Значение 3
              td 3
              td 232.63123
              td 123456
              td 22:00
            tr
              td Значение 4
              td 4
              td 44444
              td Красный
              td 22:00
            tr
              td Значение 5
              td 5
              td 232.63123
              td Синий
              td 22:00
      iframe(src="https://www.youtube.com/embed/flvOP1MJ5u4?roistat_visit=112948")
      .ui-icon.ui-icon--download
        +icon('download')
        a(href="#") Скачать документ
      a(href="#") Гиперссылка
      br
      +button({url: '#',theme: 'accent',size: 'md',text: 'Вернуться к списку',
        iconAfter: {name: 'back-arrow'}
      })



