// SETTINGS
$slider-button-radius: 50%;
$slider-slide-radius: $radius-md;

// COMMON
.swiper-slide-inner {
  position: relative;
  display: block;
}
.swiper {
  &-slide {
    overflow: hidden;
  }
  &-container {
    width: 100%;
    position: relative;
  }
  &-pagination {
    display: none;
  }
  &-navigation {
    z-index: 1;
  }
}

// SIZE
.slider-size {
  &--md {
    .swiper-slide {
      position: relative;
      &::before {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        padding-top: 56%;
      }
      .swiper-slide-inner {
        @include coverdiv();
      }
    }
  }
}

// CAPTION
.slider-caption {
  position: absolute;
  color: #ffffff;
  padding: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  @include font-size(h6);
  @include after() {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    //border-radius: var(--radius-md)
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 74.46%, rgba(51, 51, 51, 0.7) 100%);
  }
  @include xs {
    font-size: 14px;
    padding: 20px;
  }
}

// BUTTON

// Common
.swiper-button {
  @include inline-flex(center, center);
  border-radius: $slider-button-radius;
  @include transition(background, border-color);
  @include scale(width, 50px, 45px, 30px);
  @include scale(height, 50px, 45px, 30px);
  border: 1px solid transparent;
  cursor: pointer;

  &::after {
    display: none;
  }
  &__svg {
    @include scale(width, 24px, 22px, 18px);
    @include scale(height, 24px, 22px, 18px);
    @include transition(fill);
  }
}
.slider-button {
  // Dark
  &--dark {
    .swiper-button {
      background: $color-accent;
      color: $color-white;
    }
  }

  // Gray
  &--gray {
    .swiper-button {
      background: $color-gray-light;
      border-color: $color-gray;
      color: $color-dark;
      &:hover {
        background: $color-gray;
        color: $color-white;
      }
    }
  }

  // Accent
  &--accent {
    .swiper-button {
      background: $color-accent;
      border-color: $color-accent;
      &__svg {
        fill: $color-white;
      }
      &:hover {
        background: $color-gray;
        color: $color-white;
        border-color: $color-gray;
      }
    }
  }
}

// Button position
.slider-button {
  &--center {
    .swiper-button {
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      &-prev {
        left: 20px;
        @include sm {
          left: -15px;
        }
      }
      &-next {
        right: 20px;
        @include sm {
          right: -15px;
        }
      }
    }
  }
  &--half {
    .swiper-button {
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
    }
  }
}

// MODIFIERS

// Slick gallery button
.slider-gallery-button {
  @include flex(center, center);
  position: absolute;
  top: 20px;
  right: 20px;
  @include size(50px);
  z-index: z(default);
  @include transition(opacity, background, color);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  opacity: .7;
  background: rgba(0,0,0,0.3);
  @include sm {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    opacity: .9;
  }
  @include hover {
    background: #fff;
    color: gray;
    opacity: 1;
    svg {
      animation: zoom .6s linear;
    }
  }
  svg {
    @include max-size(50%);
    fill: none;
    stroke: currentColor;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.13);
  }
  to {
    transform: scale(1);
  }
};

// VIEWS
.slider-portfolio {
  .swiper .swiper-slide {
    width: 85% !important;
  }
  .swiper-slide {
    @include transition(opacity);
    &-next {
      opacity: 0.3;
    }
  }
  .swiper-button {
    position: absolute;
    z-index: 1;
    top: 300px;
    transform: translateY(-50%);
    @include lg {
      display: none !important;
    }
    &-prev {
      left: -25px;
    }
    &-next {
      right: 13.5%;
    }
  }
}
.slider-wrapper {
  width: 100%;
}
.slider-default {
  .swiper-slide {
    border-radius: $slider-slide-radius;
    overflow: hidden;
  }
  .swiper-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    @include lg {
      display: none !important;
    }
    &-prev {
      left: -25px;
    }
    &-next {
      right: -25px;
    }
  }
}
.slider-gallery {
  position: relative;
  width: 100%;
  .swiper-slide-inner {
    @include flex(center, center);
  }
  img {
    max-width: 100%;
  }
}

// PAGINATION
.slider-pagination-gallery {
  .swiper-pagination {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 2;
    @include flex(center,center);
    bottom: 30px;
    right: 20px;
    @include size(114px, 48px);
    font-family: $font-title;
    background: $color-black;
    border-radius: 37px;
    color: $color-gray-dark;
    @include lg {
      right: 10px;
    }
  }
  .swiper-button {
    position: absolute;
    top: 50%;
    z-index: 1;
    opacity: 0.3;
    background: #d9d9d9;
    border-collapse: #d9d9d9;
    &:hover {
      opacity: 1;
    }
    @include sm {
      display: none;
    }
    &-prev {
      left: 50px;
      @include dw {
        left: 30px;
      }
    }
    &-next {
      right: 50px;
      @include dw {
        right: 30px;
      }
    }
    &__svg {
      fill: $color-dark;
      @include lg {
        @include size(30px);
      }
    }
  }
  .swiper-slide-title {
    position: fixed;
    top: 80%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -100%);
    background: rgba(0,0,0,0.3);
    border-radius: 37px;
    padding: 10px 20px;
    color: #d9d9d9;
    @include sw {
      top: 90%;
    }
    @include md {
      top: 98%;
      font-size: 14px;
      padding: 5px 10px;
    }
  }
  .slider-counter {
    &__current,
    &__total {
      display: inline-block;
      font-size: 14px;
      width: 30px;
      text-align: center;
      line-height: 1;
    }
    &__spacer {
      display: inline-block;
      @include size(14px, 1px);
      background: #d9d9d9;
    }
  }
}

// PAGINATION VIEW
.swiper-pagination {
  &-bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &-bullet {
    cursor: pointer;
    @include not-last() {
      margin-right: 5px;
    }
  }
}