.hero
  .hero__inner(data-plx-section data-plx-top)
    .hero__background(style=`background-image:url(${require('@image/common/denim.png')})`)
    .hero__content(data-plx-fade)
      .hero__content__inner
        .hero__title-top WEB-РАЗРАБОТЧИК / HTML-ВЕРСТАЛЬЩИК
        .hero__title Владислав Филинский
        .hero__social.social-simple
          include ../../modules/social/social