// SETTINGS
$form-border: #c4ccd9;
$form-active: $color-accent-2;
$form-text: #363940;
$form-error: #ff7b5e;
$form-placeholder: #8b94a0;
$form-radius: 5px;


// IMPORT
@import "checkbox/checkbox";
@import "radio/radio";
@import "switch/switch";
@import "select/select";
@import "range/range";
@import "input/input";
@import "file/file";
@import "validate/validate";

// VIEWS
.form {
  &--column {
    .form {
      &__groups {
        margin-bottom: 40px;
        .form__group {
          @include not-last() {
            margin-bottom: 20px;
          }
        }
      }
      &__submit {
        margin-bottom: 20px;
        .btn {
          height: 56px;
          font-size: 16px;
        }
      }
    }
  }
  &--column-white {
    position: relative;
    z-index: 1;
    background: $color-white;
    border-radius: $radius-md;
    @include scale(padding, 30px 40px, 30px, 30px 20px);
    .form {
      &__title {
        @include font-size(h2);
        font-weight: normal;
        @include lg {
          font-size: 26px;
        }
      }
      &__label {
        margin-bottom: 30px;
      }
      &-group {
        margin-bottom: 20px;
      }
    }
    .checkbox__text {
      color: $color-dark;
    }
  }
  &--row {
    .form {
      &__inputs {
        @include flex(false, center);
        margin-bottom: 30px;
        @include sm {
          flex-direction: column;
        }
      }
      &-group {
        max-width: 240px;
        @include sm {
          max-width: 320px;
        }
        @include not-last() {
          margin: 0 15px 0 0;
          @include sm {
            margin: 0 0 15px;
          }
        }
        &-checkbox {
          max-width: 100%;
          @include sm {
            max-width: 320px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &--popup {
    .form {
      &__icon {
        @include size(80px);
        @include flex(center, center);
        color: $color-white;
        font-size: 32px;
        background: $color-accent;
        border-radius: 50%;
        margin: 0 auto 10px;
      }
      &__label {
        color: $color-dark;
        max-width: 400px;
        &-title {
          @include font-size(p1);
          font-weight: bold;
        }
        &-subtitle {
          margin-top: 10px;
          color: $color-gray-light;
          @include font-size(h6);
        }
        &-list {
          margin-top: 40px;
          &-item {
            @include not-last() {
              margin-bottom: 10px;
            }
          }
        }
      }
      &__form {
        margin-top: 40px;
        max-width: 400px;
      }
      &__groups {
        margin-bottom: 40px;
        .form__group {
          @include not-last() {
            margin-bottom: 20px;
          }
        }
      }
      &__submit {
        margin-bottom: 40px;
      }
      &-policy__text {
        text-align: left;
      }
    }
  }
}

// subscribe
.subscribe {
  background: $color-gray-light;
  border-radius: $radius-md;
  &--small {
    padding: 40px;
    @include xs {
      padding: 30px 20px;
    }
    .subscribe {
      &-row {
        &__title {
          margin-bottom: 30px;
        }
      }
      &-title__title {
        font-size: 24px;
      }
      &-title__subtitle {
        margin-top: 20px;
      }
    }
    .form {
      &__inputs {
        width: 100% !important;
        margin-bottom: 20px;
      }
      &__submit {
        width: 100%;
        .form-group {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }
}

// Сообщение об отправке внутри формы
.form-message {
  &__success {
    display: none;
  }
  &__error {
    display: none;
  }
}
.form-success {
  max-width: 400px;
  .modal__head,
  .modal__body {
    display: none;
  }
  .form-message__success {
    display: block;
  }
}
.form-error {
  max-width: 400px;
  .modal__head,
  .modal__body {
    display: none;
  }
  .form-message__error {
    display: block;
  }
}